.addToDo-container{
    margin-top: 5rem;
    font-style: italic;
    box-sizing: border-box;
    text-align: center;
}
.addToDo-container h1{
    padding: 1rem;
    color: dimgrey;
    margin-bottom: 2rem
}
.addToDo-container > input{
    border: none;
    height: 2rem;
    width: 40rem;
    padding: 5px;
}
.addToDo-container > button{
    height: 2rem;
    width: 5rem;
    background: dimgray;
    border: none;
}
.addToDo-container > button:hover{
    color: white;
}